[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown-it-py = {extras = ["plugins"], version = "*"}
click = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.11"
